= form_with url: "/teams", method: :post do |f|
  .form-group
    = f.label "Nome da equipe",placeholder: "Digite o nome", class: 'form-label text-white'
    = f.text_field :group_name, placeholder: "Nome do seu time" ,class: 'form-control'
  .form-group.pt-4
    = f.label "Nome do primeiro time", class: 'form-label text-white'
    = f.text_field :team_one_name,placeholder: "Time 1", class: 'form-control'
  .form-group.pt-4
    = f.label "Nome do segundo time" , class: 'form-label text-white'
    = f.text_field :team_two_name,placeholder: "Time 2", class: 'form-control'
  .actions.pt-6
    = f.submit "Criar", class: "btn btn--primary"            