=turbo_frame_tag "add_user" do 
  .max-w-sm.rounded.overflow-hidden.shadow-lg.bg-white.text-white
    .px-6.py-4.w-full
      .flex.w-full
        = heroicon "plus", options: { class: "h-6 w-6 text-black"}
        %button.ml-4.text-black.text-sm.font-semibold{id: "add-button"}
          = "Adicionar novo membro"
#modal.modal.hidden
  .modal-content
    = form_with url: teams_add_member_path, method: :post  do |f|
      .form-group.pt-2
        %h4.text-slate-700.devise__header.pb-2 Adicionar novo membro
        = f.label "Digite o email do usuário a ser convidado",placeholder: "Digite o email do usuário a ser convidado", class: 'form-label text-slate-700'
        = f.text_field :user_id, placeholder: "usuario@email.com" ,class: "form-control" 
        = f.hidden_field :team_id, :value => request.path.gsub(/[^0-9]/, '')
      .actions.pt-4
        = f.submit "Adicionar", class: "btn btn--primary"
        %button.btn.btn--secondary 
          = "Cancelar" 
        :javascript
          const modal = document.getElementById('modal');
          const button = document.getElementById('add-button');
          const close = document.getElementById('close');
          button.onclick = function() {
            modal.classList.remove('hidden');
          }
          close.onclick = function() {
            modal.classList.add('hidden');
          }
          window.onclick = function(event) {
            modal.classList.add('hidden');
            
          }
