=turbo_frame_tag "create_match" do 
  = form_with url: teams_create_match_path, method: :post  do |f|
    %h4.text-white.devise__header Agendar uma nova partida
    .form-group.pt-4
      = f.label "Data do jogo", class: 'form-label text-white'
      = f.date_field :scheduled_at ,value: "#{Time.now.year}-0#{Time.now.month}-#{Time.now.day}", class: 'form-control'
      = f.hidden_field :team_id, :value => request.path.gsub(/[^0-9]/, '')
    .form-group.pt-4
      = f.label "Local", placeholder: "20h", class: 'form-label text-white text-white'
      = f.select :place_id, Team.find(params[:id]).places.pluck(:name), {}, { class: "form-control" }
      = f.hidden_field :owner_id, :value => current_user.id
      = f.hidden_field :team_one_name, :value => Team.where("id = ?", params[:id]).first.team_one_name, class: 'form-control'
      = f.hidden_field :team_two_name, :value => Team.where("id = ?", params[:id]).first.team_two_name, class: 'form-control'
      = f.hidden_field :team_one_score, :value => "" 
      = f.hidden_field :team_two_score, :value => "" 
      = f.hidden_field :confirmed_at, :value => "" 
    .actions.pt-4
      = f.submit "Confirmar agendamento", class: "btn btn--primary"
    