= form_for @account, url: account_settings_path do |f|
  - if @account.errors.any?
    = render 'errors', errors: @account.errors
  .flex.flex-col.space-y-4.sm:space-y-6.pb-6
    = f.fields_for :company do |company_f|
      - unless @account.personal?
        .form-group
          = company_f.label :name, class: 'form-label'
          = company_f.text_field :name, autofocus: true, class: 'form-control'
        .form-group
          = company_f.label :document_1, class: 'form-label'
          = company_f.text_field :document_1, class: 'form-control', data: { controller: 'cpf-cnpj' }
        .form-group
          = company_f.label :document_2, class: 'form-label'
          = company_f.text_field :document_2, class: 'form-control'
      - else
        .form-group
          = company_f.label :name, class: 'form-label' do
            = Company.human_attribute_name(:name_pf)
          = company_f.text_field :name, autofocus: true, class: 'form-control'
        .form-group
          = company_f.label :document_1, class: 'form-label' do
            = Company.human_attribute_name(:document_1_pf)
          = company_f.text_field :document_1, class: 'form-control', data: { controller: 'cpf-cnpj' }
      .form-group
        = company_f.label :email, class: 'form-label'
        = company_f.email_field :email, class: 'form-control'
      .form-group
        = company_f.label :phone_number, class: 'form-label'
        = company_f.text_field :phone_number, class: 'form-control', data: { controller: 'phone-number' }
      .form-group.flex.items-center.space-x-1.5.sm:space-x-3
        .avatar
          - if company_f.object.avatar.attached?
            = image_tag company_f.object.avatar.variant(resize_to_limit: [100, 100])
          - else
            = image_tag 'avatar_placeholder.png'
        = company_f.file_field :avatar, class: 'form-input-file flex-1', direct_upload: true
      .form-group
        = company_f.label :description, class: 'form-label'
        = company_f.text_area :description, class: 'form-control', data: { controller: 'textarea-autogrow' }
    .form-group
      = f.label :default_currency, class: 'form-label'
      = f.select :default_currency, accepted_currencies, {}, class: 'form-control'
    .form-group
      = f.label :processor_plan_id, class: 'form-label'
      = f.select :processor_plan_id, Stripe::Plan.list.data.sort_by(&:amount).collect { |plan| ["#{number_to_currency(plan.amount/100)} - #{plan.nickname}", plan.id] }, {}, disabled: f.object.active?, class: 'form-control'
      .block.w-full.text-right.text-xs
        = link_to t('devise.registrations.new.find_your_best_plan'), new_checkout_portal_session_path, class: 'text-primary-600'
    .form-group.mb-6
      = f.submit class: "btn btn--primary"
