= form_for @account_invitation, url: (@account_invitation.id.present? ? account_invitation_path(id: @account_invitation.id) : account_invitations_path) do |f|
  - if @account_invitation.errors.any?
    = render 'errors', resource: @account_invitation
  .flex.flex-col.space-y-4.sm:space-y-6.pb-6
    .form-group
      = f.label :name, class: 'form-label'
      = f.text_field :name, autofocus: true, class: 'form-control', disabled: @account_invitation.id.present?
    .form-group
      = f.label :email, class: 'form-label'
      = f.email_field :email, class: 'form-control', disabled: @account_invitation.id.present?
    .form-group
      = f.label :role, class: 'form-label'
      = f.select :role, enum_option_pairs(AccountInvitation, :role), {}, class: "form-control"
    .form-group
      = f.submit t(".invite"), class: "btn btn--primary"
