= render(Table::ItemComponent.new(item: account_user, classes: 'group', link: edit_account_user_path(account_user), options: { data: { turbo_frame: 'drawer' } })) do |item|
  - item.col(classes: 'c-table__column--description') do
    .flex.items-center.space-x-3
      .block
        .paragraph-base= account_user.user.name
        .paragraph-muted= account_user.user.email
      - if account_user.owner?
        .badge.badge--primary= AccountUser.human_attribute_name(:owner)
  - item.col(classes: 'c-table__column--description') { te(account_user, :role) }
  - item.col(classes: 'c-table__column--datetime hidden xl:flex') { l(account_user.updated_at) }
  - item.col(classes: 'c-table__column--actions') do
    = button_to edit_account_user_path(account_user),id: 'edit_account_user', method: :get, onclick: 'event.stopPropagation()', data: { turbo_frame: 'drawer', controller: :tooltip, tooltip_content_value: t('shared.edit') }, class: 'btn-circle btn-circle--primary hidden group-hover:flex' do
      = heroicon 'pencil', options: { class: 'btn-circle__icon' }
    - unless account_user.owner?
      = button_to account_user,id: 'delete_account_user', method: :delete, onclick: 'event.stopPropagation()', form: { data: { turbo_confirm: t('shared.are_you_sure?') } }, data: { controller: :tooltip, tooltip_content_value: t('shared.remove') }, class: 'btn-circle btn-circle--danger hidden group-hover:flex' do
        = heroicon 'trash', options: { class: 'btn-circle__icon' }
