%li{ id: dom_id(account_user) }
  = link_to edit_account_user_path(account_user), data: { turbo_frame: 'drawer' }, class: 'stacked-list__item' do
    .stacked-list__layout
      .stacked-list__left
        .stacked-list__content
          .stacked-list__details
            .flex.items-center.space-x-3
              .block
                .paragraph-base= account_user.user.name
                .paragraph-muted= account_user.user.email
              - if account_user.owner?
                .badge.badge--primary= AccountUser.human_attribute_name(:owner)
      .stacked-list__actions
        - unless account_user.owner?
          = button_to account_user, method: :delete, onclick: "event.stopPropagation()", form: { data: { turbo_confirm: t('shared.are_you_sure?') } }, class: 'btn-circle btn-circle--danger' do
            = heroicon 'trash', options: { class: 'btn-circle__icon' }