- content_for(:title, AccountUser.model_name.human(count: 2))

= turbo_frame_tag :account_users_index do
  = render(Page::HeaderComponent.new(title: AccountUser.model_name.human(count: 2))) do |header|
    - header.search do
      = render 'search_form', search_path: account_users_path
    - header.action do
      = button_to new_account_invitation_path, class: 'btn-circle btn-circle--primary', method: :get, data: { turbo_frame: 'drawer', controller: :tooltip, tooltip_content_value: t('account_invitations.index.new') } do
        = heroicon 'plus', options: { class: 'btn-circle__icon' }

  = turbo_frame_tag :account_invitations_index, src: account_invitations_path, loading: :lazy do
    = render 'loading'

  .card.mt-3.sm:mt-6.overflow-hidden
    %h6.text-center.px-3.py-1.5.border-b.bg-gray-50= AccountUser.model_name.human(count: 2)
    = render(Table::TableComponent.new) do |table|
      - table.header do |header|
        - header.col(classes: 'c-table__column--description') {  "#{User.human_attribute_name(:name)}/#{User.human_attribute_name(:email)}" }
        - header.col(classes: 'c-table__column--description') { AccountUser.human_attribute_name(:role) }
        - header.col(classes: 'c-table__column--datetime hidden xl:flex') { AccountUser.human_attribute_name(:updated_at) }
        - header.col(classes: 'c-table__column--actions')
      - table.body(id: :account_users) do
        = render @records

  = render(Page::PaginatorComponent.new(paginator: @pagy))