.devise__layout
  .devise__left
    .devise__container
      .devise__header
        %h3.devise__title= t('.forgot_your_password')
        = inline_svg_tag 'logo.svg', class: 'fill-green-600 h-8 w-auto'
      .devise__content
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: {  class: 'devise__form', 'data-turbo': false  }) do |f|
          = render 'errors', resource: resource
          .form-group
            = f.label :email, class: 'form-label'
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
          .form-group
            = f.submit t('.send_me_reset_password_instructions'), class: "btn btn--green w-full"
        = render "devise/shared/links"
  .devise__right 
    %img.absolute.inset-0.h-full.w-full.object-cover{ src: 'https://salient.tailwindui.com/_next/static/media/background-auth.4bcf3f4b.jpg' }
