%li
  = link_to root_path(bank_account_id: bank_account.id, transaction_type: :revenue, month: Current.date.beginning_of_month), data: { turbo_frame: 'home_index' }, id: "account_option_#{bank_account.id}", class: 'c-dropdown__item group' do
    %span.h-5.w-5.flex
      - if bank_account.default?
        = heroicon 'star', variant: :solid, options: { class: "h-5 w-5 text-warning-500" }
    .block.truncate
      .paragraph-base.text-start= bank_account.name
      .paragraph-muted.text-left.flex.space-x-2.items-start{ class: bank_account.balance_cents.negative? ? 'text-danger-500' : 'text-success-500' }
        = heroicon 'arrow-long-right', options: { class: 'h-4 w-4' }
        %span= bank_account.balance.format