= turbo_frame_tag :dre do
  .block.w-full.animate__animated.animate__fadeIn.animate__faster.leading-7.pb-3
    %div.flex.items-center.justify-between
      .block.text-gray-500.leading-7= t('.gross_income')
      .col-span-2.text-sm.font-medium.text-success-500.text-right.leading-7= @paid_revenues.format
    %div.flex.items-center.justify-between
      %div.flex.direction-row.items-center
        = heroicon 'minus-circle', variant: :mini, options:{ class:"h-4 w-4 fill-gray-400"}
        .block.text-gray-500.leading-7.pl-1.5= t('.taxes')
      .col-span-2.text-sm.font-medium.text-danger-500.text-right.leading-7= (@paid_tax_expenses * -1).format
    %hr
    %div.flex.items-center.justify-between
      %b 
        .block.text-gray-500.leading-7= t('.gross_profit')
      .col-span-2.text-sm.font-medium.text-right.leading-7{ class: @gross_profit.positive? ? 'text-success-500' : 'text-danger-500' }= @gross_profit.format
    %div.flex.items-center.justify-between
      %div.flex.direction-row.items-center
        = heroicon 'minus-circle', variant: :mini, options:{ class:"h-4 w-4 fill-gray-400"}
        .block.text-gray-500.leading-7.pl-1.5= t('.total_variable_expenses')
      .col-span-2.text-sm.font-medium.text-danger-500.text-right.leading-7= (@paid_var_expenses * -1).format
    %hr
    %div.flex.items-center.justify-between
      %b
        .block.text-gray-500.leading-7= t('.operating_profit')
      .col-span-2.text-sm.font-medium.text-right.leading-7{ class: @operating_profit.positive? ? 'text-success-500' : 'text-danger-500' }= @operating_profit.format
    %div.flex.items-center.justify-between
      %div.flex.direction-row.items-center
        = heroicon 'minus-circle', variant: :mini, options:{ class:"h-4 w-4 fill-gray-400"}
        .block.text-gray-500.leading-7.pl-1= t('.total_fixed_expenses')
      .col-span-2.text-sm.font-medium.text-danger-500.text-right.leading-7= (@paid_fixed_expenses * -1).format
    %div.flex.items-center.justify-between
      %div.flex.direction-row.items-center
        = heroicon 'minus-circle', variant: :mini, options:{ class:"h-4 w-4 fill-gray-400"}
        .block.text-gray-500.leading-7.pl-1.5= t('.personnel_expenses')
      .col-span-2.text-sm.font-medium.text-danger-500.text-right.leading-7= (@paid_payroll_expenses * -1).format
    %hr
    %div.flex.items-center.justify-between
      - if @net_profit.positive? || @net_profit.zero?
        %div.flex.direction-row.items-center
          = heroicon 'plus-circle', variant: :mini, options:{ class:"h-4 w-4 fill-success-500"}
          .block.text-gray-500.leading-7.font-bold.pl-1.5= t('.net_profit')
        .col-span-2.text-sm.font-medium.text-success-500.text-right.leading-7= @net_profit.format
      - elsif @net_profit.negative?
        %div.flex.direction-row.items-center
          = heroicon 'minus-circle', variant: :mini, options:{ class:"h-4 w-4 fill-danger-500"}
          .block.text-gray-500.leading-7.font-bold.pl-1.5= t('.net_profit')
        .col-span-2.text-sm.font-medium.text-danger-500.text-right.leading-7= @net_profit.format
      - else 
        .block.text-gray-500.leading-7.font-bold= t('.net_profit')
        .col-span-2.text-sm.font-medium.text-gray-500.text-right.leading-7= @net_profit.format