= turbo_frame_tag :expenses do

  %div.w-full.h-32{ data: {
        controller: 'expenses-chartjs',
        expenses_chartjs_data_value: @line_data.to_json,
        expenses_chartjs_percentage_value: number_with_precision(@percentage, precision: 0),
        expenses_chartjs_locale_value: I18n.locale,
        expenses_chartjs_currency_value: Money.default_currency,
        expenses_chartjs_paid_revenues_label_value: t('transactions.totalizer.revenue_paid'),
        expenses_chartjs_unpaid_revenues_label_value: t('transactions.totalizer.revenue_unpaid'),
        expenses_chartjs_paid_expenses_label_value: t('transactions.totalizer.expense_paid'),
        expenses_chartjs_unpaid_expenses_label_value: t('transactions.totalizer.expense_unpaid'),
        expenses_chartjs_outcome_label_value: t('.outcome') }}

  .block.w-full.animate__animated.animate__fadeIn.animate__faster
    .block.text-gray-500= t('transactions.expenses.expenses')
    %hr
    .grid.grid-cols-3.w-full.animate__animated.animate__pulse.animate__faster
      .col-span-3.flex.items-center.space-x-2
      .truncate.text-xs.text-danger-500= t('transactions.expenses.paid_expenses')
      .col-span-2.text-xs.font-medium.text-danger-500.text-right= @paid_expenses.format
      .truncate.text-xs.text-danger-500= t('transactions.expenses.lack')
      .col-span-2.text-xs.font-medium.text-danger-500.text-right= (@expected_expenses - @paid_expenses).format
      %hr
      %hr
      %hr
      .truncate.text-xs.text-gray-500= t('transactions.expenses.prev_expenses')
      .col-span-2.text-xs.font-medium.text-gray-500.text-right= @expected_expenses.format
     
      