.flex.pt-6.pl-28.devise__background.h-full.pr-10
  .grid.grid-rows-4.grid-flow-col.gap-6.pr-10.animate__animated.animate__fadeIn.animate__faster{class: "h-[900px]"}
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4.pr-8
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias                                                            
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias                                                            
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias
    .block.rounded-lg.shadow-lg.bg-white.max-w-full.text-center.h-min
      .py-3.px-6.border-b.border-gray-300
        %h5.text-slate-900.text-xl.font-medium.mb-2 Futengage #1
      .p-2
        %p.text-slate-700.text-base.mb-4
          .flex.place-content-center.gap-6.pb-4.justify-center
            .flex.items-center.pr-4
              = heroicon "clock", options: { class: "h-6 w-6 text-black" }  
              %span.text-md.pl-1.text-black 20H
            .flex.items-center
              = heroicon "map-pin", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black Clubinho 
            .flex.items-center.pl-4
              = heroicon "user", options: { class: "h-6 w-6 text-black" } 
              %span.text-xs.text-black.pr-2 9/12     
        = link_to "Ver detalhes", "#", class: "btn btn--primary bg-slate-800 hover:bg-black"
      .py-3.px-6.border-t.border-gray-300.text-slate-600
        há dois dias