.pt-12.ml-12
  %h2.text-2xl.font-semibold.text-white Últimos jogos
  .pt-4
    -if @past_matches != nil
      .grid.grid-rows-4.grid-cols-3.gap-4.mr-6
        - @past_matches.order(:scheduled_at).each do | match | 
          .pt-4
            .max-w-sm.rounded.overflow-hidden.shadow-lg.bg-bgsecondary.text-white
              .px-6.py-4
                .font-bold.text-xl.mb-2= match.team.group_name
                .grid.grid-cols-4.justify-beetween
                  .column-span-1
                    %h4.text-md.font-semibold.text-white
                      %span.text-sm.text-white Local
                    .flex.items-center.column-span-1
                      = heroicon "map-pin", options: { class: "h-5 w-5 text-white" } 
                      %span.text-xs.text-white.pl-1= match.place.name
                  .column-span-1
                    %h4.text-md.font-semibold.text-white
                      %span.text-sm.text-white Jogadores
                    .flex.items-center.column-span-1
                      = heroicon "users", options: { class: "h-5 w-5 text-white" }  
                      %span.text-xs.text-white.pl-1 
                        = match.confirmations.where("confirmed = ?", true).count
                  .column-span-1
                    %h4.text-md.font-semibold.text-white
                      %span.text-sm.text-white Horário
                    .flex.items-center.column-span-1
                      = heroicon "clock", options: { class: "h-5 w-5 text-white" }  
                      %span.text-xs.text-white.pl-1 
                        = match.scheduled_at.strftime("%H:%M")
                  .column-span-1
                    %h4.text-md.font-semibold.text-white
                      %span.text-sm.text-white Data
                    .flex.items-center.column-span-1
                      = heroicon "calendar", options: { class: "h-5 w-5 text-white" }  
                      %span.text-xs.text-white.pl-1 
                        = match.scheduled_at.strftime("%e/%m/%y")
    - else
      = render 'no_history'              

      