%li.stacked-list__item{ id: dom_id(import) }
  .stacked-list__layout
    .stacked-list__left
      .stacked-list__contenti
        .stacked-list__detailsi
          .paragraph-base= import.file.filename
        .stacked-list__hidden-col.stacked-list_status
          .paragraph-base= Import.human_attribute_name(:"Status:")
          .paragraph-muted= te(import, :state)
        .stacked-list__hidden-col
          .paragraph-base= Category.human_attribute_name(:"Fonte do arquivo:")
          .paragraph-muted= te(import, :source)
        .stacked-list__hidden-col
          .paragraph-base= Category.human_attribute_name(:"Transações importadas")
          .paragraph-muted=  (((import.progress_number.to_f)/import.progress_total.to_f*100).round(2).to_s) + "%"
        .stacked-list__hidden-col
          .paragraph-base= Category.human_attribute_name(:"Importado em:")
          .paragraph-muted= l(import.updated_at)
    .stacked-list__actions
      - if can?(:destroy, import)
        = button_to import, method: :delete, form: { data: { turbo_confirm: t('.are_you_sure?') } }, class: 'btn-circle btn-circle--danger' do
          = heroicon 'trash', options: { class: 'btn-circle__icon' }
      - if can?(:view, import)    
        = link_to rails_blob_path(import.file, disposition: "attachment"), id: 'download_file', class: 'btn-circle btn-circle--primary' do
          = heroicon 'arrow-down-tray', options: { id: 'button_download_file', class: 'btn-circle__icon' }