= render(Table::ItemComponent.new(item: import, classes: 'group'),link: new_import_path(Import)) do |item|
  - item.col(classes: 'c-table__column--description') { import.file.filename.sanitized }
  - item.col(classes: 'c-table__column--description') { te(import, :state) }
  - item.col(classes: 'c-table__column--description') { te(import, :source) }
  - item.col(classes: 'c-table__column--description') do
    .w-full.col-span-3.flex.items-center.space-x-2
      .flex-1.h-2.bg-gray-200.rounded-full.overflow-hidden.relative
        .absolute.flex.items-center.h-2.bg-success-500.overflow-visible{ style: "width: #{number_to_percentage(import.current_progress, precision: 0)}" }
      %span.flex-shrink-0.text-success-500.font-medium.text-xs= number_to_percentage(import.current_progress, precision: 0)
  - item.col(classes: 'c-table__column--datetime hidden xl:flex') { import.done? && l(import.updated_at) }
  - item.col(classes: 'c-table__column--actions') do
    = button_to import, method: :delete, form: { data: { turbo_confirm: t('.are_you_sure?') } }, data: { controller: :tooltip, tooltip_content_value: t('shared.remove') }, class: 'btn-circle btn-circle--danger' do
      = heroicon 'trash', options: { class: 'btn-circle__icon' }
    = link_to rails_blob_path(import.file, disposition: "attachment"), id: 'download_file', class: 'btn-circle btn-circle--primary', data: { turbo: false, controller: :tooltip, tooltip_content_value: t('shared.download') } do
      = heroicon 'arrow-down-tray', options: { id: 'button_download_file', class: 'btn-circle__icon' }
