= render TurboDrawerComponent.new(title: t("Ver dados da importação")) do
  .flex.flex-col.space-y-4.sm:space-y-6
    .form-group.border.border-gray-200.px-4.py-5.sm:p-0.rounded-md
      %dl.sm:divide-y.sm:divide-gray-200.space-y-4
        .sm:py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-4
          %dt.sm:text-sm.font-medium.text-gray-500= Import.human_attribute_name(:account)
          %dd.mt-1.sm:text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @import.account.owner.name
        .sm:py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-4
          %dt.sm:text-sm.font-medium.text-gray-500= Import.human_attribute_name(:source_cd)
          %dd.mt-1.sm:text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @import.source_cd
        .sm:py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-4
          %dt.sm:text-sm.font-medium.text-gray-500= Import.human_attribute_name(:state)
          %dd.mt-1.sm:text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @import.state
        .sm:py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-4
          %dt.sm:text-sm.font-medium.text-gray-500= Import.human_attribute_name(:progress_number)
          %dd.mt-1.sm:text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @import.progress_number
        .sm:py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-4
          %dt.sm:text-sm.font-medium.text-gray-500= Import.human_attribute_name(:progress_total)
          %dd.mt-1.sm:text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @import.progress_total
  
