= render TurboDrawerComponent.new(title: t(".title")) do
  .flex.flex-col.space-y-4.sm:space-y-6
    .form-group.border.border-gray-200.px-4.py-5.sm:p-0.rounded-md
      %dl.sm:divide-y.sm:divide-gray-200.space-y-4
        .sm:py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-4
          %dt.sm:text-sm.font-medium.text-gray-500= 'Name'
          %dd.mt-1.sm:text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @contact.name
        .sm:py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-4
          %dt.sm:text-sm.font-medium.text-gray-500= 'Description'
          %dd.mt-1.sm:text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @contact.description
    .form-group
      = button_to 'Edit', edit_contact_path(@contact), class: 'btn', method: :get, data: { turbo_frame: 'drawer' }