= turbo_frame_tag :bank_accounts_index do
  = render(Page::HeaderComponent.new(title: BankAccount.model_name.human(count: 2))) do |header|
    - header.search do
      = render 'search_form', search_path: bank_accounts_path
    - header.action do
      - if can?(:create, bank_accounts_url)
        = button_to new_bank_account_path, class: 'btn-circle btn-circle--primary', method: :get, data: { turbo_frame: 'drawer' } do
          = heroicon 'plus', options: { class: 'btn-circle__icon' }

  .card
    %ul.stacked-list{id: :bank_accounts}
      = render @records
