= form_for @match do |f|
  .devise__layout.absolute.devise__background
    .devise__left
      .devise__container
        .devise__header
          %h2.devise__title= 'Novo Jogo'
        .devise__content
          .form-group
            = f.label "Data do jogo", class: 'form-label text-white'
            = f.date_field :day,value: "#{Time.now.year}-0#{Time.now.month}-#{Time.now.day}", class: 'form-control'
          .form-group.pt-4
            = f.label "Nome do jogo" ,placeholder: "Futengage", class: 'form-label text-white'
            = f.text_field :name, class: 'form-control'
          .form-group.pt-4
            = f.label "Horário", placeholder: "20h", class: 'form-label text-white text-white'
            = f.text_field :time, class: 'form-control'
          .form-group.pt-4
            = f.label "Local", placeholder: "Clubinho", class: 'form-label text-white text-white'
            = f.text_field :place, class: 'form-control'  
          .form-group.pt-4
            = f.label "Nome do primeiro time", placeholder: "Time 1", class: 'form-label text-white'
            = f.text_field :team_name_1, class: 'form-control'
          .form-group.pt-4 
            = f.label "Nome do segundo time", placeholder: "Time 2", class: 'form-label text-white'
            = f.text_field :team_name_2, class: 'form-control'
          .actions.pt-4
            = f.submit "Criar", class: "btn btn--primary"
.flex.h-full.w-full.devise__background            