- content_for(:title, Match.model_name.human(count: 2))
= turbo_frame_tag :matches_index do
  = render(Page::HeaderComponent.new(title: Match.model_name.human(count: 2))) do |header|
    - header.search do
      = render 'search_form', search_path: matches_path
    - header.action do
      = button_to new_match_path, class: 'btn-circle btn-circle--primary', method: :get, data: { turbo_frame: 'drawer' } do
        = heroicon 'plus', options: { class: 'btn-circle__icon' }

  .card
    = render(Table::TableComponent.new) do |table|
      - table.header do |header|
        - header.col(classes: 'c-table__column--actions')
      - table.body(id: :matches) do
        - if @records.any?
          = render @records
        - elsif params[:q].present?
          = render 'empty_search', clear_path: matches_path, term: params[:q]
        - else
          = render 'empty_state', add_path: new_match_path, options: { data: { turbo_frame: 'drawer' } }

  = render(Page::PaginatorComponent.new(paginator: @pagy))
