- if @link.present?
  = turbo_frame_tag @item do
    %li
      = link_to @link, @options.deep_merge(class: "c-table__item #{@classes}") do
        - cols.each do |col|
          = col
- else
  = turbo_frame_tag @item do
    %li.c-table__item{ class: @classes }
      - cols.each do |col|
        = col
