= render(Table::ItemComponent.new(item: category, classes: 'group', link: (can?(:update, category) && edit_category_path(category)), options: { data: { turbo_frame: 'drawer' } })) do |item|
  - item.col(classes: 'c-table__column--description') do
    .paragraph-base= category.name
    .paragraph-muted= category.description
  - item.col(classes: 'c-table__column--datetime hidden xl:flex') { l(category.updated_at) }
  - item.col(classes: 'c-table__column--actions') do
    - if can?(:update, category)
      = button_to edit_category_path(category),id: 'edit_category', method: :get, onclick: 'event.stopPropagation()', data: { turbo_frame: 'drawer', controller: :tooltip, tooltip_content_value: t('shared.edit') }, class: 'btn-circle btn-circle--primary hidden group-hover:flex' do
        = heroicon 'pencil', options: { class: 'btn-circle__icon' }
    - if can?(:destroy, category)
      = button_to category,id: 'delete_category', method: :delete, onclick: 'event.stopPropagation()', form: { data: { turbo_confirm: t('shared.are_you_sure?') } }, data: { controller: :tooltip, tooltip_content_value: t('shared.remove') }, class: 'btn-circle btn-circle--danger hidden group-hover:flex' do
        = heroicon 'trash', options: { class: 'btn-circle__icon' }
