= turbo_frame_tag :categories_index do
  = render(Page::HeaderComponent.new(title: Category.model_name.human(count: 2))) do |header|
    - header.search do
      = render 'search_form', search_path: categories_path
    - if can?(:create, Category)
      - header.action do
        = button_to new_category_path, class: 'btn-circle btn-circle--primary', method: :get, data: { turbo_frame: 'drawer' } do
          = heroicon 'plus', options: { class: 'btn-circle__icon' }
  .card
    %ul.stacked-list#categories
      = render @records
      = render 'empty_state', hidden: @records.any?,
                                is_search: params[:q].present?,
                                add_path: can?(:create, Category) && new_category_path,
                                clear_path: categories_path,
                                options: { data: { turbo_frame: 'drawer' } }
