- content_for(:title, Category.model_name.human(count: 2))
= turbo_frame_tag :categories_index do
  = render(Page::HeaderComponent.new(title: Category.model_name.human(count: 2))) do |header|
    - header.search do
      = render 'search_form', search_path: categories_path
    - if can?(:create, Category)
      - header.action do
        = button_to new_category_path, class: 'btn-circle btn-circle--primary', method: :get, data: { turbo_frame: 'drawer', controller: :tooltip, tooltip_content_value: t('categories.index.new') } do
          = heroicon 'plus', options: { class: 'btn-circle__icon' }

  .card
    = render(Table::TableComponent.new) do |table|
      - table.header do |header|
        - header.col(classes: 'c-table__column--description') { sortable Category, :name, Category.human_attribute_name(:name) }
        - header.col(classes: 'c-table__column--datetime hidden xl:flex') { sortable Category, :updated_at, Category.human_attribute_name(:updated_at) }
        - header.col(classes: 'c-table__column--actions')
      - table.body(id: :categories) do
        = render @records
        = render 'empty_state', hidden: @records.any?,
                                is_search: params[:q].present?,
                                add_path: can?(:create, Category) && new_category_path,
                                clear_path: categories_path,
                                options: { data: { turbo_frame: 'drawer' } }

  = render(Page::PaginatorComponent.new(paginator: @pagy))