%header.header.z-30.sm:z-10
  .header__container
    %button.header__hamburguer-button.sm:hidden{"data-action": "sidebar#open", type: "button"}
      %span.sr-only= t('.open_sidenav')
      = heroicon "bars-3", options: { class: "header__hamburguer" }
    .header__title.sm:ml-0
      = @title
      - if @subtitle.present?
        .header__subtitle= @subtitle
    - if search
      .header__search.hidden.sm:block
        = search
    .header__notifications
      = turbo_frame_tag :notifications_index, src: notifications_path, loading: :lazy, class: 'w-auto items-center justify-center'  do
        = render 'loading_button'
    - if actions
      .header__actions
        - actions.each do |action|
          = action
- if search
  %header.header.sticky.z-10.sm:z-30.border-t.sm:hidden
    .header__container
      .header__search.flex-1
        = search