.flex.items-start.h-32.justify-items-stretch.space-x-3.my-3
  .flex-shrink-0
    .grid.grid-cols-2.gap-3.h-full.justify-items-stretch
      .col-span-2.h-12
        = turbo_frame_tag :outcome, src: outcome_transactions_path(bank_account_id: current_bank_account, transaction_type: current_transaction_type, month: current_month), loading: :lazy, class: 'h-full' do
          = render 'loading'
      .col-span-1.w-52{style: 'height: 4.25rem'}
        = turbo_frame_tag :revenues, src: revenues_transactions_path(bank_account_id: current_bank_account, transaction_type: current_transaction_type, month: current_month), loading: :lazy, class: 'h-full' do
          = render 'loading'
      .col-span-1.w-52{style: 'height: 4.25rem'}
        = turbo_frame_tag :expenses, src: expenses_transactions_path(bank_account_id: current_bank_account, transaction_type: current_transaction_type, month: current_month), loading: :lazy, class: 'h-full' do
          = render 'loading'
  .flex-1.flex.items-center.justify-center{style: 'height: 8.5rem'}
    = turbo_frame_tag :chart, src: chart_transactions_path(bank_account_id: current_bank_account, transaction_type: current_transaction_type, month: current_month), loading: :lazy, class: 'h-full' do
      = render 'loading'
  .flex-shrink-0.flex.items-start.justify-start
    = turbo_frame_tag :bank_account_balance, src: balance_transactions_path(bank_account_id: current_bank_account, transaction_type: current_transaction_type, month: current_month), loading: :lazy, class: 'h-full' do
      = render 'loading'