= form_for @transaction, html: { class: 'relative' } do |f|
  = hidden_field_tag :month, current_month
  = hidden_field_tag :transaction_type, current_transaction_type
  = hidden_field_tag :bank_account_id, current_bank_account.id

  = f.hidden_field :bank_account_id

  .grid.grid-cols-1.gap-y-6.gap-x-4.sm:grid-cols-2
    .form-group.col-span-2
      = f.label :due_date, class: 'form-label'
      = f.text_field :due_date, value: l(f.object.due_date), class: 'form-control', data: date_picker_data
    .form-group.col-span-2
      = f.label :name, class: 'form-label'
      = f.text_field :name, class: 'form-control'
    .form-group.col-span-2
      = f.label :contact_id, class: 'form-label' do
        - if f.object.revenue?
          = Transaction.human_attribute_name(:receipted_from)
        - else
          = Transaction.human_attribute_name(:paid_to)
      = f.collection_select :contact_id,
        Current.account.contacts.order(:first_name, :last_name), :id, :name,
        { include_blank: true },
        data: { controller: 'select-contact',
                select_contact_allow_deselect_value: true,
                select_contact_url_value: contacts_path }
    .form-group.col-span-2
      = f.label :category_id, class: 'form-label'
      = f.collection_select :category_id,
        Current.account.categories.order(:name), :id, :name,
        { include_blank: true },
        data: { controller: 'select-category',
                select_category_allow_deselect_value: true,
                select_category_url_value: categories_path }
    .form-group.col-span-1
      = f.label :amount, class: 'form-label'
      .form-input-group
        = f.text_field :amount_cents, class: 'form-control', data: currency_data_params
        .form-input-group__right
          = f.select :amount_currency, accepted_currencies, {}, class: 'form-input-group__select'
    .form-group.col-span-1
      .form-group-checkbox.mt-7
        = f.check_box :paid, class: 'form-control-checkbox'
        = f.label :paid, class: 'form-label-checkbox'
    -#.form-group.col-span-1
    -#  = f.label :exchanged_amount, class: 'form-label'
    -#  .form-input-group
    -#    = f.text_field :exchanged_amount_cents, class: 'form-control', data: currency_data_params
    -#    .form-input-group__right
    -#      = f.select :exchanged_amount_currency, accepted_currencies, {}, disabled: true, class: 'form-input-group__select'
    .form-group.col-span-1
      = f.label :payment_type, class: 'form-label'
      = f.select :payment_type, enum_option_pairs(Transaction, :payment_type), {}, data: { controller: 'select' }
    .form-group.col-span-1
      = f.label :payment_method, class: 'form-label'
      = f.select :payment_method, enum_option_pairs(Transaction, :payment_method), {}, data: { controller: 'select' }
    -#.form-group.col-span-2
    -#  .form-group-checkbox
    -#    = f.check_box :paid, class: 'form-control-checkbox'
    -#    = f.label :paid, class: 'form-label-checkbox'
    .form-group.col-span-2
      = f.label :competency_date, class: 'form-label'
      = f.text_field :competency_date, class: 'form-control', data: date_picker_data
    .form-group.col-span-2
      = f.label :document_number, class: 'form-label'
      = f.text_field :document_number, class: 'form-control'
    .form-group.col-span-2
      = f.label :cost_center_id, class: 'form-label'
      = f.collection_select :cost_center_id,
        Current.account.cost_centers.order(:name), :id, :name,
        { include_blank: true },
        data: { controller: 'select-cost-center',
                select_cost_center_allow_deselect_value: true,
                select_cost_center_url_value: cost_centers_path }

    .form-group.col-span-2
      = f.label :tags, class: 'form-label'
      = f.collection_select :tag_list,
        ActsAsTaggableOn::Tag.for_context(:tags).where("#{ActsAsTaggableOn.taggings_table}.tenant = ?", "#{Current.account.id}"), :name, :name,
        { include_blank: true },
        multiple: true,
        data: { controller: 'select-tags', select_tags_allow_deselect_value: true }

    .form-group.col-span-2
      = f.label :description, class: 'form-label'
      = f.text_area :description, class: 'form-control', data: { controller: 'textarea-autogrow' }

    .form-group.col-span-2
      = f.submit class: "btn btn--primary"
