%li.transactions-list__header
  %span.transactions-list__column.transactions-list__column--duedate
    .paragraph-base.overflow-hidden= sortable Transaction, :due_date, Transaction.human_attribute_name(:due_date)
  %span.transactions-list__column.transactions-list__column--name
    .paragraph-base.overflow-hidden= sortable Transaction, :name, Transaction.human_attribute_name(:name)

  - unless @current_transaction_type == :transfer
    %span.transactions-list__column.transactions-list__column--contact
      .paragraph-base.overflow-hidden
        - if @current_transaction_type == :revenue
          = Transaction.human_attribute_name(:receipted_from)
        - else
          = Transaction.human_attribute_name(:paid_to)
    %span.transactions-list__column.transactions-list__column--category
      .paragraph-base.overflow-hidden= Transaction.human_attribute_name(:category_id)
  - else
    .transactions-list__column.transactions-list__column--bank-account
      .paragraph-base.overflow-hidden= Transaction.human_attribute_name(:bank_account_id)
    .transactions-list__column.transactions-list__column--bank-account
      .paragraph-base.overflow-hidden= Transaction.human_attribute_name(:transfer_to_id)

  %span.transactions-list__column.transactions-list__column--amount.justify-center.items-end
    .paragraph-base.overflow-hidden.text-right= sortable Transaction, :exchanged_amount_cents, Transaction.human_attribute_name(:amount), { class: 'items-center justify-end' }
  - unless @current_transaction_type == :transfer
    %span.transactions-list__column.transactions-list__column--payment-type
      .paragraph-base.overflow-hidden= Transaction.human_attribute_name(:payment_type)
  %span.transactions-list__column.transactions-list__column--paid
    .paragraph-base.overflow-hidden= sortable Transaction, :paid, Transaction.human_attribute_name(:paid)
  %span.transactions-list__column.transactions-list__column--actions