= render TurboDrawerComponent.new(title: t(".title")) do
  = form_for @transaction, url: create_installments_transaction_path(@transaction), html: { class: 'relative' } do |f|
    = hidden_field_tag :month, current_month
    = hidden_field_tag :bank_account_id, current_bank_account.id
    = hidden_field_tag :transaction_type, current_transaction_type

    .grid.grid-cols-1.gap-y-6.gap-x-4.sm:grid-cols-2
      .form-group.col-span-1
        = f.label :amount, class: 'form-label'
        .form-input-group
          .absolute.inset-y-0.left-0.flex.items-center
            = f.select :amount_currency, Transaction::ACCEPTED_CURRENCIES.map {|v| [v, v]}, {}, class: 'form-input-group__select'
          = f.text_field :amount_cents, class: 'form-control pl-11 text-right', data: currency_data_params
      .form-group.col-span-1
        = f.label :installment_total, class: 'form-label'
        = f.number_field :installment_total, class: 'form-control', in: 1..12, step: 1
      .form-group.col-span-1
        = f.label :installment_type, class: 'form-label'
        = f.select :installment_type, enum_option_pairs(Transaction, :installment_type), {}, data: { controller: 'select' }
      .form-group.col-span-2
        = f.submit t('shared.create_installments'), class: "btn btn--primary"
