= turbo_stream.remove @transaction
= turbo_stream.turbo_frame_reload :totalizer
= turbo_stream.turbo_frame_reload :bank_account_balance if @transaction.paid?

- unless @transaction.transfer?
  = turbo_stream.turbo_frame_reload :outcome
  = turbo_stream.turbo_frame_reload :chart

= turbo_stream.turbo_frame_reload :revenues if @transaction.revenue?
= turbo_stream.turbo_frame_reload :expenses if @transaction.expense?

= turbo_stream.update :flash, render(FlashComponent.new(flash: flash))