= turbo_stream.after @source_transaction, @transaction

= turbo_stream.turbo_frame_reload :totalizer
= turbo_stream.turbo_frame_reload :bank_account_balance if @transaction.paid?

- unless @transaction.transfer?
  = turbo_stream.turbo_frame_reload :outcome
  = turbo_stream.turbo_frame_reload :chart

- if @transaction.revenue?
  = turbo_stream.turbo_frame_reload :revenues

- if @transaction.expense?
  = turbo_stream.turbo_frame_reload :expenses

= turbo_stream.update :flash, render(FlashComponent.new(flash: flash))