- content_for(:title, Transaction.model_name.human(count: 2))

= turbo_frame_tag :transactions_index, "data-controller": "turbo-history" do

  -# HEADER
  = render(Page::HeaderComponent.new(title: Transaction.model_name.human(count: 2))) do |header|
    - header.search do
      = render 'search_form', search_path: transactions_path, form_params: current_required_params
    - header.action do
      - if can?(:create, transactions_url)
        = button_to new_transaction_path(current_required_params), class: 'btn-circle btn-circle--primary', method: :get, form: { data: { turbo_frame: :new_transaction } }, data: { controller: :tooltip, tooltip_content_value: I18n.t('transactions.new.title') } do
          = heroicon 'plus', options: { class: 'btn-circle__icon' }

  -# ANALYTICS
  = render 'analytics', current_bank_account: current_bank_account, current_month: current_month, current_transaction_type: current_transaction_type

  = turbo_frame_tag :transactions_list, "data-controller": "turbo-history" do
    -# NAV TABS
    = render 'tabs', current_bank_account: current_bank_account, current_month: current_month, current_transaction_type: current_transaction_type

    -# TRANSACTIONS LIST
    .card
      %ul.transactions-list
        = render 'header'
      %ul.transactions-list
        -if can?(:create, transactions_url)
          = render 'new', current_bank_account: current_bank_account, current_transaction_type: current_transaction_type, current_month: current_month
      %ul.transactions-list{ id: :transactions }
        - if @records.any?
          = render @records
        - elsif params[:q].present?
          %li.transactions-list__item.flex.justify-center
            = render 'empty_search', clear_path: transactions_path(current_required_params), term: params[:q]

    .summarizer
      = turbo_frame_tag :totalizer, src: totalizer_transactions_path(current_required_params), loading: :lazy do
        = render 'loading'


