= turbo_frame_tag :revenues do
  .block.w-full.animate__animated.animate__fadeIn.animate__faster
    .block.text-gray-500= t('.revenues')
    .grid.grid-cols-3.w-full.animate__animated.animate__pulse.animate__faster
      .col-span-3.flex.items-center.space-x-2
        .flex-1.h-2.bg-gray-200.rounded-full.overflow-hidden.relative
          .absolute.flex.items-center.h-2.bg-success-500.overflow-visible{ style: "width: #{number_to_percentage(@percentage, precision: 0)}" }
        %span.flex-shrink-0.text-success-500.font-medium.text-xs= number_to_percentage(@percentage, precision: 0)
      .truncate.text-xs.text-success-500= t('.paid_revenues')
      .col-span-2.text-xs.font-medium.text-success-500.text-right= @paid_revenues.format
      .truncate.text-xs.text-gray-500= t('.prev_revenues')
      .col-span-2.text-xs.font-medium.text-gray-500.text-right= @expected_revenues.format
