= render TurboDrawerComponent.new(title: t(".title")) do
  .flex.flex-col.space-y-4.sm:space-y-6
    .form-group.border.border-gray-200.px-4.py-5.sm:p-0.rounded-md
      %dl.sm:divide-y.sm:divide-gray-200.space-y-4
        .sm:py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-4
          %dt.sm:text-sm.font-medium.text-gray-500= Transaction.human_attribute_name(:name)
          %dd.mt-1.sm:text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @transaction.name
        .sm:py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-4
          %dt.sm:text-sm.font-medium.text-gray-500= Transaction.human_attribute_name(:account_type_cd)
          %dd.mt-1.sm:text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @transaction.account_type_cd
        .sm:py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-4
          %dt.sm:text-sm.font-medium.text-gray-500= Transaction.human_attribute_name(:balance_cents)
          %dd.mt-1.sm:text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @transaction.balance_cents
        .sm:py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-4
          %dt.sm:text-sm.font-medium.text-gray-500= Transaction.human_attribute_name(:balance_currency)
          %dd.mt-1.sm:text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @transaction.balance_currency
        .sm:py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-4
          %dt.sm:text-sm.font-medium.text-gray-500= Transaction.human_attribute_name(:initial_balance_cents)
          %dd.mt-1.sm:text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @transaction.initial_balance_cents
        .sm:py-4.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-4
          %dt.sm:text-sm.font-medium.text-gray-500= Transaction.human_attribute_name(:initial_balance_currency)
          %dd.mt-1.sm:text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @transaction.initial_balance_currency
    .form-group
      -if can?(:update, transactions_url)
        = button_to t('shared.edit'), edit_transaction_path(@transaction), class: 'btn', method: :get, data: { turbo_frame: 'drawer' }
