= turbo_frame_tag :totalizer do
  .grid.grid-cols-3.gap-1
    .paragraph-base.font-semibold.text-base.text-left= t('.total')
    .paragraph-base.font-semibold.text-base.text-right.col-span-2= @total.format
    - case current_transaction_type
    - when :revenue
      .paragraph-base.text-success-500.text-xs.font-medium= t(".revenue_paid")
      .paragraph-base.text-success-500.text-right.text-xs.font-medium.col-span-2= @total_paid.format
    - when :transfer
      .paragraph-base.text-success-500.text-xs.font-medium= t(".transfer_paid")
      .paragraph-base.text-success-500.text-right.text-xs.font-medium.col-span-2= @total_paid.format
    - else
      .paragraph-base.text-danger-500.text-xs.font-medium= t(".expense_paid")
      .paragraph-base.text-danger-500.text-right.text-xs.font-medium.col-span-2= @total_paid.format
    .paragraph-base.text-gray-500.text-xs
      - case current_transaction_type
      - when :revenue
        = t(".revenue_unpaid")
      - when :transfer
        = t(".transfer_unpaid")
      - else
        = t(".expense_unpaid")
    .paragraph-base.text-gray-500.text-right.text-xs.font-medium.col-span-2= @total_unpaid.format