= form_for :checkout_session, url: checkout_portal_sessions_path, html: { data: { turbo: false } } do |f|
  %fieldset
    %legend.sr-only= t('.pricing_plans')
    .flex.flex-col.space-y-4.sm:space-y-6.pb-6
      .font-semibold= t('.month_plans')
      .relative.-space-y-px.rounded-md.bg-white.border.overflow-hidden.divide-y
        - @month_plans.each do |plan|
          = f.label "processor_plan_id_#{plan.id.downcase}", class: 'relative p-3 flex flex-col cursor-pointer focus:outline-none group hover:bg-gray-100' do
            %span.flex.items-center.text-sm
              = f.radio_button :processor_plan_id, plan.id, class: 'h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500'
              %span.ml-3.font-semibold= plan.nickname
            %span.ml-6.pl-1.text-sm
              %span.font-medium.text-primary-500= number_to_currency(plan.amount / 100)
            -#%span.ml-6.pl-1.text-muted= plan.product

      .font-semibold= t('.year_plans')
      .relative.-space-y-px.rounded-md.bg-white.border.overflow-hidden.divide-y
        - @year_plans.each do |plan|
          = f.label "processor_plan_id_#{plan.id.downcase}", class: 'relative p-3 flex flex-col cursor-pointer focus:outline-none group hover:bg-gray-100' do
            %span.flex.items-center.text-sm
              = f.radio_button :processor_plan_id, plan.id, class: 'h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500'
              %span.ml-3.font-semibold= plan.nickname
            %span.ml-6.pl-1.text-sm
              %span.font-medium.text-primary-500= number_to_currency(plan.amount / 100)
            -#%span.ml-6.pl-1.text-muted= plan.product

      .form-group
        = f.submit t(".subscribe"), class: "btn btn--primary"