.min-h-full.px-4.py-4.sm:px-6.sm:py-4.md:grid.md:place-items-center.lg:px-8#empty_state{ class: hidden && 'md:hidden hidden' }
  .mx-auto.max-w-max
    .sm:flex.sm:items-center
      %p.sm:flex-1.flex.justify-center.sm:justify-end.font-bold.tracking-tight.text-indigo-600
        = inline_svg_tag 'empty.svg', class: 'sm:w-64 h-auto w-full'
      .sm:ml-6.sm:flex-1.mt-6.sm:mt-0
        .sm:pl-6
          - if defined?(is_search) && is_search
            %h5.font-semibold.text-center.sm:text-left= t('.empty_search')
            %p.text-sm.text-gray-500.text-center.sm:text-left= defined?(description) ? description : t('.click_to_clear_search')
          - else
            %h5.font-semibold.text-center.sm:text-left= defined?(title) ? title : t('.empty_result')
            %p.text-sm.text-gray-500.text-center.sm:text-left= defined?(description) ? description : t('.click_to_create_a_new_one')
        .mt-6.flex.sm:space-x-6.sm:pl-6
          - if defined?(is_search) && is_search
            = link_to t('.clear_search'), clear_path, { class: 'btn btn--green' }.merge(options)
          - else
            = link_to add_path, { class: 'btn btn--green' }.merge(options) do
              = heroicon 'plus', options: { class: 'h-5 w-5' }
              = t('.add')

