- Match.find(params[:id]).confirmations.where("confirmed =?", true).limit(4).each do |confirmation|
  .w-44
    .flex.items-center.py-2
      .flex-shrink-0
        = image_tag confirmation.user.avatar, class: "h-12 w-12 rounded-full"
      .ml-3
        %p.text-sm.font-medium.text-white
          = confirmation.user.name
        .place-content-start
          .text-xs.text-white
            = confirmation.position.capitalize
          .text-xs.text-white
            -if confirmation.team_number == 2
              = Match.find(params[:id]).team_two_name
            - else
              = Match.find(params[:id]).team_one_name  
.place-content-end
  = link_to "casa do caralho" do
    .flex.items-center.py-2
      .flex-shrink-0.mt-2
        = heroicon "magnifying-glass", options: {class: "h-6 w-6 ml-5"}
      %p.text-sm.font-medium.text-white.ml-2 Ver todos         
                              
          