.profile-menu{"data-controller": "dropdown"}
  %div
    %button.profile-menu__activator.group{"data-action": "dropdown#toggle keyup@window->dropdown#hideWithKeyboard click@window->dropdown#hide", type: "button",id: 'menu_button_profile'}
      %span.profile-menu__layout
        %span.profile-menu__info
          = render 'avatar', avatable: current_user, icon: :user
          %span.profile-menu__detail.truncate
            %p.paragraph-base.font-semibold.truncate= current_user.first_name
            %p.paragraph-muted.mt-0.5= current_user.email
        = heroicon "chevron-up-down", options: { class: "profile-menu__chevron" }

  .profile-menu__items.hidden{"data-dropdown-target": "menu",
                       "data-transition-enter-from": "opacity-0 scale-95",
                       "data-transition-enter-to": "opacity-100 scale-100",
                       "data-transition-leave-from": "opacity-100 scale-100",
                       "data-transition-leave-to": "opacity-0 scale-95"}
    .profile-menu__group
      = link_to user_settings_edit_path, class: 'profile-menu__item', data: { turbo_frame: 'drawer', action: 'sidebar#close' } do
        = heroicon 'user-circle', options: { class: 'h-5 w-5  text-green-500' }
        %span= t('.user_settings')

      - if can?(:manage, Current.account)
        = link_to account_settings_edit_path, class: 'profile-menu__item', data: { turbo_frame: 'drawer', action: 'sidebar#close' } do
          = heroicon 'cog-6-tooth', options: { class: 'h-5 w-5  text-green-500' }
          %span= t('.account_settings')

      -# Esconde se a conta for Pessoal
      - if can?(:manage, AccountUser)
        = link_to account_users_path, class: 'profile-menu__item', data: { turbo_frame: 'drawer', action: 'sidebar#close' } do
          = heroicon 'users', options: { class: 'h-5 w-5  text-green-500' }
          %span= AccountUser.model_name.human(count: 2)

      - if can?(:read, Import)
        = link_to imports_path, class: 'profile-menu__item' do
          = heroicon 'arrow-up-on-square', options: { class: 'h-5 w-5  text-green-500' }
          %span= Import.model_name.human(count: 2)

    -# se a conta é FREE, não exibe menu de cobranças da plataforma
    - unless Current.account.free?
      .profile-menu__group
        - if Current.account.trial_period?
          = link_to new_checkout_portal_session_path, class: 'profile-menu__item', data: { turbo_frame: 'drawer', action: 'sidebar#close' } do
            %span= t('.checkout')
        - else
          = button_to billing_portal_sessions_path, class: 'profile-menu__item', form: { data: { turbo: false, class: 'block w-full' } } do
            %span= t('.billing')
          = button_to billing_portal_sessions_path, class: 'profile-menu__item', form: { data: { turbo: false, class: 'block w-full' } } do
            %span= t('.change_plan')
          = button_to billing_portal_sessions_path, class: 'profile-menu__item', form: { data: { turbo: false, class: 'block w-full' } } do
            %span= t('.change_payment_method')

    .profile-menu__group
      -# Exibe somente quando a conta for do FutEngage
      - if Current.account.FutEngage?
        = link_to rails_admin_path, class: 'profile-menu__item', data: { turbo_frame: 'drawer', action: 'sidebar#close' } do
          %span= t('.rails_admin')

      = button_to destroy_user_session_path, method: :delete, form: {  data: { turbo: false }}, class: "profile-menu__item" do
        = heroicon 'arrow-right-on-rectangle', options: { class: 'h-5 w-5 text-danger-500' }
        %span= t('.sign_out')
