.grid.grid-flow-row.auto-rows-max.devise__background.min-h-screen.pt-14.auto-rows-auto.gap-10
  .flex.flex-col.max-h-12
    .p-4.items-center.justify-center.rounded-3xl.group.sm:flex.space-x-6.bg-white.bg-opacity-10.shadow-xl{class: "w-[900px] h-[80px]"}
      %img.w-16.h-16.rounded-full{ src: url_for(current_user.avatar)}
      .pl-0.p-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          = current_user.first_name
        .flex.items-center.space-x-4.justify-between
          .flex
            %span.text-sm 
            = current_user.last_name
      .grid.grid-flow-row.auto-rows-max.justify-end.items-center
        .pr-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          %span.text-sm confirmado em
        .flex.items-center.space-x-4.justify-between
          = heroicon "clock", options: { class: "h-5 w-5 text-white" }
          %p.text-xs 
            = current_user.created_at.strftime("%d/%m/%Y")
  .flex.flex-col.max-h-12
    .p-4.items-center.justify-center.rounded-3xl.group.sm:flex.space-x-6.bg-white.bg-opacity-10.shadow-xl{class: "w-[900px] h-[80px]"}
      %img.w-16.h-16.rounded-full{ src: url_for(current_user.avatar)}
      .pl-0.p-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          = current_user.first_name
        .flex.items-center.space-x-4.justify-between
          .flex
            %span.text-sm 
            = current_user.last_name
      .grid.grid-flow-row.auto-rows-max.justify-end.items-center
        .pr-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          %span.text-sm confirmado em
        .flex.items-center.space-x-4.justify-between
          = heroicon "clock", options: { class: "h-5 w-5 text-white" }
          %p.text-xs 
            = current_user.created_at.strftime("%d/%m/%Y")
  .flex.flex-col.max-h-12
    .p-4.items-center.justify-center.rounded-3xl.group.sm:flex.space-x-6.bg-white.bg-opacity-10.shadow-xl{class: "w-[900px] h-[80px]"}
      %img.w-16.h-16.rounded-full{ src: url_for(current_user.avatar)}
      .pl-0.p-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          = current_user.first_name
        .flex.items-center.space-x-4.justify-between
          .flex
            %span.text-sm 
            = current_user.last_name
      .grid.grid-flow-row.auto-rows-max.justify-end.items-center
        .pr-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          %span.text-sm confirmado em
        .flex.items-center.space-x-4.justify-between
          = heroicon "clock", options: { class: "h-5 w-5 text-white" }
          %p.text-xs 
            = current_user.created_at.strftime("%d/%m/%Y")
  .flex.flex-col.max-h-12
    .p-4.items-center.justify-center.rounded-3xl.group.sm:flex.space-x-6.bg-white.bg-opacity-10.shadow-xl{class: "w-[900px] h-[80px]"}
      %img.w-16.h-16.rounded-full{ src: url_for(current_user.avatar)}
      .pl-0.p-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          = current_user.first_name
        .flex.items-center.space-x-4.justify-between
          .flex
            %span.text-sm 
            = current_user.last_name
      .grid.grid-flow-row.auto-rows-max.justify-end.items-center
        .pr-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          %span.text-sm confirmado em
        .flex.items-center.space-x-4.justify-between
          = heroicon "clock", options: { class: "h-5 w-5 text-white" }
          %p.text-xs 
            = current_user.created_at.strftime("%d/%m/%Y")                   
  .flex.flex-col.max-h-12
    .p-4.items-center.justify-center.rounded-3xl.group.sm:flex.space-x-6.bg-white.bg-opacity-10.shadow-xl{class: "w-[900px] h-[80px]"}
      %img.w-16.h-16.rounded-full{ src: url_for(current_user.avatar)}
      .pl-0.p-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          = current_user.first_name
        .flex.items-center.space-x-4.justify-between
          .flex
            %span.text-sm 
            = current_user.last_name
      .grid.grid-flow-row.auto-rows-max.justify-end.items-center
        .pr-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          %span.text-sm confirmado em
        .flex.items-center.space-x-4.justify-between
          = heroicon "clock", options: { class: "h-5 w-5 text-white" }
          %p.text-xs 
            = current_user.created_at.strftime("%d/%m/%Y")
  .flex.flex-col.max-h-12
    .p-4.items-center.justify-center.rounded-3xl.group.sm:flex.space-x-6.bg-white.bg-opacity-10.shadow-xl{class: "w-[900px] h-[80px]"}
      %img.w-16.h-16.rounded-full{ src: url_for(current_user.avatar)}
      .pl-0.p-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          = current_user.first_name
        .flex.items-center.space-x-4.justify-between
          .flex
            %span.text-sm 
            = current_user.last_name
      .grid.grid-flow-row.auto-rows-max.justify-end.items-center
        .pr-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          %span.text-sm confirmado em
        .flex.items-center.space-x-4.justify-between
          = heroicon "clock", options: { class: "h-5 w-5 text-white" }
          %p.text-xs 
            = current_user.created_at.strftime("%d/%m/%Y")
  .flex.flex-col.max-h-12
    .p-4.items-center.justify-center.rounded-3xl.group.sm:flex.space-x-6.bg-white.bg-opacity-10.shadow-xl{class: "w-[900px] h-[80px]"}
      %img.w-16.h-16.rounded-full{ src: url_for(current_user.avatar)}
      .pl-0.p-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          = current_user.first_name
        .flex.items-center.space-x-4.justify-between
          .flex
            %span.text-sm 
            = current_user.last_name
      .grid.grid-flow-row.auto-rows-max.justify-end.items-center
        .pr-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          %span.text-sm confirmado em
        .flex.items-center.space-x-4.justify-between
          = heroicon "clock", options: { class: "h-5 w-5 text-white" }
          %p.text-xs 
            = current_user.created_at.strftime("%d/%m/%Y")
  .flex.flex-col.max-h-12
    .p-4.items-center.justify-center.rounded-3xl.group.sm:flex.space-x-6.bg-white.bg-opacity-10.shadow-xl{class: "w-[900px] h-[80px]"}
      %img.w-16.h-16.rounded-full{ src: url_for(current_user.avatar)}
      .pl-0.p-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          = current_user.first_name
        .flex.items-center.space-x-4.justify-between
          .flex
            %span.text-sm 
            = current_user.last_name
      .grid.grid-flow-row.auto-rows-max.justify-end.items-center
        .pr-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          %span.text-sm confirmado em
        .flex.items-center.space-x-4.justify-between
          = heroicon "clock", options: { class: "h-5 w-5 text-white" }
          %p.text-xs 
            = current_user.created_at.strftime("%d/%m/%Y")
  .flex.flex-col.max-h-12
    .p-4.items-center.justify-center.rounded-3xl.group.sm:flex.space-x-6.bg-white.bg-opacity-10.shadow-xl{class: "w-[900px] h-[80px]"}
      %img.w-16.h-16.rounded-full{ src: url_for(current_user.avatar)}
      .pl-0.p-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          = current_user.first_name
        .flex.items-center.space-x-4.justify-between
          .flex
            %span.text-sm 
            = current_user.last_name
      .grid.grid-flow-row.auto-rows-max.justify-end.items-center
        .pr-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          %span.text-sm confirmado em
        .flex.items-center.space-x-4.justify-between
          = heroicon "clock", options: { class: "h-5 w-5 text-white" }
          %p.text-xs 
            = current_user.created_at.strftime("%d/%m/%Y")
  .flex.flex-col.max-h-12
    .p-4.items-center.justify-center.rounded-3xl.group.sm:flex.space-x-6.bg-white.bg-opacity-10.shadow-xl{class: "w-[900px] h-[80px]"}
      %img.w-16.h-16.rounded-full{ src: url_for(current_user.avatar)}
      .pl-0.p-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          = current_user.first_name
        .flex.items-center.space-x-4.justify-between
          .flex
            %span.text-sm 
            = current_user.last_name
      .grid.grid-flow-row.auto-rows-max.justify-end.items-center
        .pr-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          %span.text-sm confirmado em
        .flex.items-center.space-x-4.justify-between
          = heroicon "clock", options: { class: "h-5 w-5 text-white" }
          %p.text-xs 
            = current_user.created_at.strftime("%d/%m/%Y")
  .flex.flex-col.max-h-12
    .p-4.items-center.justify-center.rounded-3xl.group.sm:flex.space-x-6.bg-white.bg-opacity-10.shadow-xl{class: "w-[900px] h-[80px]"}
      %img.w-16.h-16.rounded-full{ src: url_for(current_user.avatar)}
      .pl-0.p-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          = current_user.first_name
        .flex.items-center.space-x-4.justify-between
          .flex
            %span.text-sm 
            = current_user.last_name
      .grid.grid-flow-row.auto-rows-max.justify-end.items-center
        .pr-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          %span.text-sm confirmado em
        .flex.items-center.space-x-4.justify-between
          = heroicon "clock", options: { class: "h-5 w-5 text-white" }
          %p.text-xs 
            = current_user.created_at.strftime("%d/%m/%Y")
  .flex.flex-col.max-h-12
    .p-4.items-center.justify-center.rounded-3xl.group.sm:flex.space-x-6.bg-white.bg-opacity-10.shadow-xl{class: "w-[900px] h-[80px]"}
      %img.w-16.h-16.rounded-full{ src: url_for(current_user.avatar)}
      .pl-0.p-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          = current_user.first_name
        .flex.items-center.space-x-4.justify-between
          .flex
            %span.text-sm 
            = current_user.last_name
      .grid.grid-flow-row.auto-rows-max.justify-end.items-center
        .pr-5{class: "sm:w-8/12"}
        %h4.text-md.font-semibold.text-white.text-justify
          %span.text-sm confirmado em
        .flex.items-center.space-x-4.justify-between
          = heroicon "clock", options: { class: "h-5 w-5 text-white" }
          %p.text-xs 
            = current_user.created_at.strftime("%d/%m/%Y")                 