%link{href: "https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css", rel: "stylesheet"}/
.sidebar
  .logo-details
    = image_tag '/logo-w.png', class: 'h-8 icon'
    %i#btn.bx.bx-menu
  %ul.nav-list
    %li
      %a{href: "/home", class: request.fullpath.include?('home') && "active"} 
        %i.bx.bx-grid{class: request.fullpath.include?('home') && "iconactive"}
        .links_name{class: request.fullpath.include?('home') && "nameactive"} Dashboard 
        .tooltip Dashboard
    - Team.joins(:members).where("members.user_id = ?", current_user.id).all.each do |teams|    
      %li
        %a{href: "/teams/#{teams.id}", class: request.fullpath.include?(teams.id.to_s) && "active "}
          -if request.fullpath.include?(teams.id.to_s)
            %i.bx.bx-down-arrow{class: request.fullpath.include?(teams.id.to_s) && "iconactive"}
          -else
            %i.bx.bx-football{class: request.fullpath.include?(teams.id.to_s) && "iconactive"}
          .links_name{class: request.fullpath.include?(teams.id.to_s) && "nameactive"}= teams.group_name 
          .tooltip= teams.group_name 
      - if request.fullpath.include?(teams.id.to_s)
        %li.submenu
          %a{href: "/places/new", class: request.fullpath.include?("places/new") && "active"}
            %i.bx.bx-plus-circle{class: request.fullpath.include?("places/new") && "iconactive"}
            %span.links_name{class: request.fullpath.include?("places/new") && "nameactive"} Adicionar novo local
          %span.tooltip Adicioanr novo local
        %li.submenu
          %a{href: "/matches/new", class: request.fullpath.include?("matches/new") && "active"}
            %i.bx.bx-plus-circle{class: request.fullpath.include?("matches/new") && "iconactive"}
            %span.links_name{class: request.fullpath.include?("matches/new") && "nameactive"} Criar nova partida
          %span.tooltip Adicioanr novo local      
    %li
      %a{href: "/histories", class: request.fullpath.include?("histories") && "active"}
        %i.bx.bx-history{class: request.fullpath.include?("histories") && "iconactive"}
        %span.links_name{class: request.fullpath.include?("histories") && "nameactive"} Ultimos jogos 
      %span.tooltip Ultimos jogos  
    %li
      %a{href: "/configs", class: request.fullpath.include?("configs") && "active"}
        %i.bx.bx-cog{class: request.fullpath.include?("configs") && "iconactive"}
        %span.links_name{class: request.fullpath.include?("configs") && "nameactive"} Configurações 
      %span.tooltip Configurações     
    %li
      %a{href: "/teams/new", class: request.fullpath.include?("teams/new") && "active"}
        %i.bx.bx-plus-circle{class: request.fullpath.include?("teams/new") && "iconactive"}
        %span.links_name{class: request.fullpath.include?("teams/new") && "nameactive"} Criar nova equipe 
      %span.tooltip Criar nova equipe
    %li.profile
      .profile-details
        -if current_user.avatar.attached?
          = image_tag url_for(current_user.avatar), class: 'profile-image'
        -else 
          = image_tag '/avatar.png', class: 'profile-image'  
        .name_position
          .name_position
            = current_user.first_name
          .name_position 
            = current_user.last_name
      = button_to destroy_user_session_path, method: :delete, form: {  data: { turbo: false }} do    
        %i#log_out.bx.bx-log-out
