.mr-6
  .rounded.shadow-lg.bg-bgsecondary.text-white.w-full.mb-4.mr-4
    .px-6.py-5
      .font-bold.text-xl.ml-2 Membros desse time  
.grid.grid-rows-4.grid-cols-3.gap-4.mr-6
  - Team.where("id =?", params[:id]).first.members.each do | member | 
    .rounded.overflow-hidden.shadow-lg.bg-bgsecondary.text-white.w-full
      .px-6.py-4.w-full
        .flex.w-full
          = image_tag member.user.avatar, class: "rounded-full w-10 h-10 mr-4"
          .font-bold.text-xl.pt-1= member.user.name.capitalize
        .grid.grid-cols-3.justify-beetween.w-full
          .column-span-1
            %h4.text-md.font-semibold.text-white
              %span.text-sm.text-white Posição
            .flex.items-center.column-span-1
              = heroicon "map-pin", options: { class: "h-5 w-5 text-white" } 
              %span.text-xs.text-white.pl-1= member.user.role.capitalize
          .column-span-1
            %h4.text-md.font-semibold.text-white
              %span.text-sm.text-white Presença
            .flex.items-center.column-span-1
              = heroicon "calculator", options: { class: "h-5 w-5 text-white" }  
              %span.text-xs.text-white.pl-1=  member.confirmations.where("confirmed = ?", true).count.to_s + " (" + ( member.confirmations.where("confirmed = ?", true).count.to_f / member.confirmations.count.to_f*100).round(2).to_s + "%)"
          .column-span-1
            %h4.text-md.font-semibold.text-white
              %span.text-sm.text-white Entrou em
            .flex.items-center.column-span-1
              = heroicon "calendar", options: { class: "h-5 w-5 text-white" }  
              %span.text-xs.text-white.pl-1= member.created_at.strftime("%e/%m/%y")
  = render "form_player"                