.flex.devise__background
  .grid.grid-flow-row.auto-rows-max.max-h-screen.pt-14.gap-10.pr-10.animate__animated.animate__fadeIn.animate__faster
    .flex.flex-col.max-h-12
      .p-4.items-center.rounded-3xl.group.sm:flex.space-x-12.bg-white.bg-opacity-10.shadow-xl.pl-6.justify-between.pr-14.pb-5{class: "w-[1000px] h-[80px]"}
        .pl-0.p-5{class: "sm:w-8/12"}
          %h4.text-md.font-semibold.text-white
            %span.text-sm.text-white Próximo jogo
          .flex.items-center
            = heroicon "play", options: { class: "h-4 w-4 text-white" }  
            %span.text-xs.text-white.pl-1
              = Team.find(params[:id]).matches.any? ? Team.find(params[:id]).matches.where("scheduled_at > ?", Time.now).order(scheduled_at: :asc).first.scheduled_at.strftime("%d/%m/%Y") : "Nenhum jogo agendado"
        .pl-0.p-5.pr-0{class: "sm:w-8/12"}
          %h4.text-md.font-semibold.text-white
            %span.text-sm.text-white.pl-2 Número de jogos
          .flex.items-center.pl-2
            = heroicon "calculator", options: { class: "h-5 w-5 text-white" } 
            %span.text-xs.text-white.pl-1= Team.where("id = ?", params[:id]).first.matches.count
        .pl-0.pr-5{class: "sm:w-8/12"}
          %h4.text-md.font-semibold.text-white.pl-2
            %span.text-sm.text-white Número de membros
          .flex.items-center.space-x-4.place-content-start.pl-2
            = heroicon "user", options: { class: "h-5 w-5 text-white" }
            %p.text-xs.text-white 
              = Team.where("id = ?", params[:id]).first.members.count
        .pl-0.p-5{class: "sm:w-8/12"}
          %h4.text-md.font-semibold.text-white.pl-4
            %span.text-sm.text-white.pl-6 Número de lugares
          .flex.items-center.pl-10
            = heroicon "map-pin", options: { class: "h-5 w-5 text-white" }  
            %span.text-xs.text-white.pl-1
              = Team.where("id = ?", params[:id]).first.places.count  
    -if Team.where("id = ?", params[:id]).first.members.any?
      - Team.where("id = ?", params[:id]).first.members.each do |member|
        .flex.flex-col.max-h-12
          .p-4.items-center.justify-start.rounded-3xl.group.sm:flex.space-x-6.bg-white.bg-opacity-10.shadow-xl.pl-6{class: "w-[1000px] h-[80px]"}
            %img.w-16.h-16.rounded-full{ src: url_for(member.user.avatar)}
            .pl-0.p-5{class: "sm:w-8/12"}
              %h4.text-md.font-semibold.text-white.text-justify
                = member.user.first_name
              .flex.items-center.space-x-4.justify-between
                .flex
                  %span.text-sm.text-white 
                    = member.user.last_name
            .grid.grid-flow-row.auto-rows-max.items-center.pl-4
              .pr-5{class: "sm:w-8/12"}
              %h4.text-md.font-semibold.text-white.text-justify
                %span.text-sm.text-white Membro desde
              .flex.items-center.space-x-4.justify-between
                = heroicon "clock", options: { class: "h-5 w-5 text-white" }
                %p.text-xs.text-white= member.created_at.strftime("%d/%m/%Y %H:%M")
            -# .grid.grid-flow-row.auto-rows-max.items-center.pl-4
            -#   .pr-5{class: "sm:w-8/12"}
            -#   %h4.text-md.font-semibold.text-white.text-justify
            -#     %span.text-sm.text-white Membro desde
            -#   .flex.items-center.space-x-4.justify-between
            -#     = heroicon "clock", options: { class: "h-5 w-5 text-white" }
            -#     %p.text-xs.text-white= member.created_at.strftime("%d/%m/%Y %H:%M")    
    .flex.flex-col.pt-4.pl-4.pr-6
      %button.btn.btn--primary#add-button Adicionar
#modal.modal.hidden
  .modal-content
    = form_with url: teams_add_member_path, method: :post  do |f|
      .form-group.pt-2
        %h4.text-slate-700.devise__header.pb-2 Adicionar novo membro
        = f.label "Digite o email do usuário a ser convidado",placeholder: "Digite o email do usuário a ser convidado", class: 'form-label text-slate-700'
        = f.text_field :user_id, placeholder: "usuario@email.com" ,class: "form-control" 
        = f.hidden_field :team_id, :value => request.path.gsub(/[^0-9]/, '')
      .actions.pt-4
        = f.submit "Adicionar", class: "btn btn--primary"