.rounded.shadow-lg.bg-bgsecondary.text-white.w-full.animate__animated.animate__pulse.animate__faster
  .px-6.py-2.w-full
    .grid.grid-cols-6.justify-beetween.w-full.pb-1
      .col-span-2
        %h4.text-md.font-semibold.text-white
          %span.text-sm.text-white Jogo selecionado
        .flex.items-center.column-span-1
          = heroicon "play", options: { class: "h-5 w-5 text-white" } 
          %span.text-xs.text-white.pl-1
            = params[:id] ? Match.find(params[:id]).team.group_name.capitalize : "Nenhum jogo selecionado" 
      .col-span-1
        %h4.text-md.font-semibold.text-white
          %span.text-sm.text-white Local
        .flex.items-center.column-span-1
          = heroicon "map-pin", options: { class: "h-5 w-5 text-white" } 
          %span.text-xs.text-white.pl-1
            = params[:id] ? Match.find(params[:id]).place.name.capitalize : ""
      .col-span-1
        %h4.text-md.font-semibold.text-white
          %span.text-sm.text-white Jogadores
        .flex.items-center.column-span-1
          = heroicon "users", options: { class: "h-5 w-5 text-white" }  
          %span.text-xs.text-white.pl-1 
            = params[:id] ? Match.find(params[:id]).confirmations.where("confirmed =?", true).count.to_s + "/" + Match.find(params[:id]).place.max_players.to_s : "0/0"
      .col-span-1
        %h4.text-md.font-semibold.text-white
          %span.text-sm.text-white Horário
        .flex.items-center.column-span-1
          = heroicon "clock", options: { class: "h-5 w-5 text-white" }  
          %span.text-xs.text-white.pl-1 
            = params[:id] ? Match.find(params[:id]).place.time.to_s : ""
      .col-span-1
        %h4.text-md.font-semibold.text-white
          %span.text-sm.text-white Data
        .flex.items-center.column-span-1
          = heroicon "calendar", options: { class: "h-5 w-5 text-white" }  
          %span.text-xs.text-white.pl-1 
            = params[:id] ? Match.find(params[:id]).scheduled_at.strftime("%e/%m") : ""
-if params[:id].present?
  .pt-4.animate__animated.animate__pulse.animate__faster
    -if Match.find(params[:id]).confirmations.where("confirmed =?", true).count == 0 
      .rounded.overflow-hidden.shadow-lg.bg-bgsecondary.text-white.p-2
        = image_tag '/0.png', class: "h-[80%] w-[100%]"
    -elsif Match.find(params[:id]).confirmations.where("confirmed =?", true).count > 12
      .rounded.overflow-hidden.shadow-lg.bg-bgsecondary.text-white.p-2
        = image_tag '/12.png'
    -else 
      .rounded.overflow-hidden.shadow-lg.bg-bgsecondary.text-white.p-2
        = image_tag '/' + Match.find(params[:id]).confirmations.where("confirmed =?", true).count.to_s + '.png', class: "h-[80%] w-[100%]"
    .flex.flex-col.pt-4
      -if Match.find(params[:id]).confirmations.where("user_id =?", current_user.id).first.confirmed?
        = button_to ("confirmations/" + Match.find(params[:id]).id.to_s), class: "btn btn--primary h-10 w-full bg-slate-700 hover:bg-black mb-4", method: :delete do
          %span.text-white Remover presença      
      -else
        = button_to ("confirmations/" + Match.find(params[:id]).confirmations.where("user_id =?", current_user.id).first.id.to_s), class: "btn btn--primary h-10 w-full mb-4",params: {team_number: 2, role: "zagueiro" }, method: :patch do
          %span.text-white Confirmar presença                 
- else
  .rounded.overflow-hidden.shadow-lg.bg-bgsecondary.text-white.p-2
    = image_tag '/0.png', class: "h-[80%] w-[100%]"               
  .pt-4  
    = button_to "confirm_presence_path", class: "btn btn--primary h-10 w-full bg-slate-700 hover:bg-black", disabled: true, method: :post do
      %span.text-white Não há jogos para confirmar
.w-full
  -if params[:id].present?
    .infernodeblock
      .flexdocaralho.px-6.py-5.rounded.shadow-lg.bg-bgsecondary.text-white
        = render "players", id: Match.find(params[:id]) 
  -else
    .col-span-6
      .block.rounded.overflow-hidden.overflow-x-auto.shadow-lg.bg-bgsecondary.text-white
        .flex.px-6.py-5
          %span.text-xs.text-white
            Nenhum jogador confirmado