%h1 Listing futengages

%table
  %thead
    %tr
      %th User
      %th
      %th
      %th

  %tbody
    - @futengages.each do |futengage|
      %tr
        %td= futengage.user
        %td= link_to 'Show', futengage
        %td= link_to 'Edit', edit_futengage_path(futengage)
        %td= link_to 'Destroy', futengage, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Futengage', new_futengage_path
