.block.w-full.p-3.space-y-4.divide-y
  .form-group
    %h3=  t(".title")
    -if !(@bank_account.count > 1)
      = Category.human_attribute_name(:"#{@bank_account.first.name} (#{params[:start_date].present? ? l(Date.parse(params[:start_date].to_s)) : l(Current.date.beginning_of_month)} à #{params[:end_date].present? ? l(Date.parse(params[:end_date].to_s)) : l(Current.date.end_of_month)})")
    -else
      = Category.human_attribute_name(:"#{@bank_account.first.name} e + #{@bank_account.count - 1} contas (#{params[:start_date].present? ? l(Date.parse(params[:start_date].to_s)) : l(Current.date.beginning_of_month)} à #{params[:end_date].present? ? l(Date.parse(params[:end_date].to_s)) : l(Current.date.end_of_month)})")
    .form-group
      .paragraph-base.form-group-checkbox.mt-2
        = heroicon 'plus', variant: :solid, options: { class: "h-5 w-5 text-success-500" }
        .paragraph-base= t(".brute_income")
        .text-success-500= @response[:gross_income].format
    .form-group
      .paragraph-base.form-group-checkbox.mt-2
        = heroicon 'minus', variant: :solid, options: { class: "h-5 w-5 text-danger-500" }
        .paragraph-base= t(".taxes")
        .text-danger-500= @response[:taxes].format
    .form-group
      .paragraph-base.form-group-checkbox.mt-2.pl-4
        = heroicon 'arrow-right-circle', variant: :solid, options: { class: "h-5 w-5 text-500" }
        .paragraph-base= t(".brute_income")
        -if @response[:gross_profit].positive?
          .text-success-500= @response[:gross_profit].format
        -else
          .text-danger-500= @response[:gross_profit].format
    .form-group
      .paragraph-base.form-group-checkbox.mt-2
        = heroicon 'minus', variant: :solid, options: { class: "h-5 w-5 text-danger-500" }
        .paragraph-base= t(".total_variable_expenses")
        .text-danger-500= @response[:variable_expense].format
    .form-group
      .paragraph-base.form-group-checkbox.mt-2.pl-4
        = heroicon 'arrow-right-circle', variant: :solid, options: { class: "h-5 w-5 text-500" }
        .paragraph-base= t(".operating_profit")
        -if @response[:operating_profit].positive?
          .text-success-500=  @response[:operating_profit].format
        -else
          .text-danger-500= @response[:operating_profit].format
    .form-group
      .paragraph-base.form-group-checkbox.mt-2
        = heroicon 'minus', variant: :solid, options: { class: "h-5 w-5 text-danger-500" }
        .paragraph-base= t(".total_fixed_expenses")
        .text-danger-500= @response[:fixed_expense].format
    .form-group
      .paragraph-base.form-group-checkbox.mt-2
        = heroicon 'minus', variant: :solid, options: { class: "h-5 w-5 text-danger-500" }
        .paragraph-base= t(".personnel_expenses")
        .text-danger-500= @response[:personnel_expenses].format
    .form-group
      .paragraph-base.form-group-checkbox.mt-2.pl-4
        = heroicon 'arrow-right-circle', variant: :solid, options: { class: "h-5 w-5 text-500" }
        .paragraph-base= t(".net_profit")
        -if @response[:result].positive?
          .text-success-500=  @response[:result].format
        -else
          .text-danger-500= @response[:result].format
