
= form_with url: reports_url, method: :get, html: { class: 'w-full block' } do |f|
  = f.hidden_field :graph, value: params[:graph] || 'dre_graph' 
  .block.w-full.p-3.space-y-4
    .form-group
      .paragraph-base= t(".starting_date")
      .paragraph-mutedh= f.text_field :start_date, value: params[:start_date].present? ? l(Date.parse(params[:start_date].to_s)) : l(Current.date.beginning_of_month), class: 'form-control', data: date_picker_data
    .form-group
      .paragraph-base=  t(".ending_date")
      .paragraph-mutedh= f.text_field :end_date, value: params[:end_date].present? ? l(Date.parse(params[:end_date].to_s)) : l(Current.date.end_of_month), class: 'form-control', data: date_picker_data
    .form-group
      .paragraph-base=  t(".select_bank_account")
      .paragraph-mutedh= f.collection_select :bank_accounts, Current.account.bank_accounts, :id, :name, { selected: params[:bank_accounts] }, multiple: true, data: { controller: 'filter-reports', filter_reports_allow_deselect_value: false}
    .form-group
      .paragraph-base=  Category.human_attribute_name(:"Selecionar centros de custo:")
      .paragraph-mutedh= f.collection_select :cost_center, Current.account.cost_centers, :id, :name, {selected: params[:cost_center]}, multiple: true, data: { controller: 'filter-reports',filter_reports_display: false, filter_reports_allow_deselect_value: false, filter_reports_addable: false}
    .form-group
      .paragraph-base=  t(".include")
      .flex.space-x-3
        .form-group-checkbox
          = f.check_box :paid, checked: params[:paid] == '1',class: 'form-control-checkbox'
          = f.label :paid,  class: 'form-label-checkbox' do
            =  t(".paid")
        .form-group-checkbox
          = f.check_box :not_paid, default: true ,checked: params[:not_paid] == '1', class: 'form-control-checkbox'
          = f.label :not_paid, class: 'form-label-checkbox' do
            =  t(".not_paid")
    .form-group
      .flex.flex-col.space-y-3
        .form-group-checkbox
          = f.button id: 'apply_filters', class: 'btn btn--primary space-x-2 w-full' do
            = heroicon 'magnifying-glass', options: { class: 'h-5 w-5' }
            = t('.apply')
        .form-group-checkbox
          = link_to reports_url, method: :get, class: 'btn space-x-2 w-full' do
            = heroicon 'x-mark',  options: { id: 'remove_filters', class: 'h-5 w-5' }
            = t('.clear')
            :javascript
              button.addEventListener('click', function() {console.log("eu vi")});
      