.card
  .card__body
    %nav{'aria-label': "Report navigation"}
      .pb-2.text-sm.font-medium.text-gray-500= t(".title")
      = link_to t(".dre"), reports_path(request.query_parameters.except(:order).merge(graph: 'dre_graph')), data: { turbo_frame: :graph }, class: "text-gray-700 flex items-center px-3 py-1.5 text-sm font-medium rounded-md #{request.fullpath.include?('dre') && 'bg-gray-100'}"

      .py-2.text-sm.font-medium.text-gray-500= t(".expenses")
      = link_to t(".description"),  reports_path(request.query_parameters.except(:order).merge(graph: 'out_description_graph')), data: { turbo_frame: :graph}, class: "text-gray-700 flex items-center px-3 py-1.5 text-sm font-medium rounded-md #{request.fullpath.include?('out_description_graph') && 'bg-gray-100'}"
      = link_to t(".day"), reports_path(request.query_parameters.except(:order).merge(graph: 'out_per_day_graph')), data: { turbo_frame: :graph }, class: "text-gray-700 flex items-center px-3 py-1.5 text-sm font-medium rounded-md #{request.fullpath.include?('out_per_day_graph') && 'bg-gray-100'}"
      = link_to t(".type"),  reports_path(request.query_parameters.except(:order).merge(graph: 'out_per_type_graph')), data: { turbo_frame: :graph }, class: "text-gray-700 flex items-center px-3 py-1.5 text-sm font-medium rounded-md #{request.fullpath.include?('out_per_type_graph') && 'bg-gray-100'}"
      = link_to t(".category"), reports_path(request.query_parameters.except(:order).merge(graph: 'out_per_category_graph')), data: { turbo_frame: :graph }, class: "text-gray-700 flex items-center px-3 py-1.5 text-sm font-medium rounded-md #{request.fullpath.include?('out_per_category_graph') && 'bg-gray-100'}"
      = link_to t(".cost_center"), reports_path(request.query_parameters.except(:order).merge(graph: 'out_per_cost_center_graph')), data: { turbo_frame: :graph }, class: "text-gray-700 flex items-center px-3 py-1.5 text-sm font-medium rounded-md #{request.fullpath.include?('out_per_cost_center_graph') && 'bg-gray-100'}"

      .py-2.text-sm.font-medium.text-gray-500= t(".income")
      = link_to t(".description"),  reports_path(request.query_parameters.except(:order).merge(graph: 'in_description_graph')), data: { turbo_frame: :graph}, class: "text-gray-700 flex items-center px-3 py-1.5 text-sm font-medium rounded-md #{request.fullpath.include?('in_description_graph') && 'bg-gray-100'}"
      = link_to t(".day"), reports_path(request.query_parameters.except(:order).merge(graph: 'in_per_day_graph')), data: { turbo_frame: :graph }, class: "text-gray-700 flex items-center px-3 py-1.5 text-sm font-medium rounded-md #{request.fullpath.include?('in_per_day_graph') && 'bg-gray-100'}"
      = link_to t(".category"), reports_path(request.query_parameters.except(:order).merge(graph: 'in_per_category_graph')), data: { turbo_frame: :graph }, class: "text-gray-700 flex items-center px-3 py-1.5 text-sm font-medium rounded-md #{request.fullpath.include?('in_per_category_graph') && 'bg-gray-100'}"
      = link_to t(".cost_center"), reports_path(request.query_parameters.except(:order).merge(graph: 'in_per_cost_center_graph')), data: { turbo_frame: :graph }, class: "text-gray-700 flex items-center px-3 py-1.5 text-sm font-medium rounded-md #{request.fullpath.include?('in_per_cost_center_graph') && 'bg-gray-100'}"