- content_for(:title, t('.title'))
= turbo_frame_tag :reports_index, "data-controller": "turbo-history" do
  = render(Page::HeaderComponent.new(title: t('.title')))

  .grid.grid-cols-4.gap-3
    .col-span-4
      = render 'header_reports', current_bank_account: @current_bank_account, bank_accounts: Current.account.bank_accounts, cost_center: Current.account.cost_centers
    .col-span-1
      = render 'side_menu'
    .col-span-3
      - if @response.blank?
        = render 'empty_state'
      - elsif params[:graph].present? && params[:graph] != 'dre_graph'
        = render 'graph', current_bank_account: @current_bank_account, bank_accounts: Current.account.bank_accounts, cost_center: Current.account.cost_centers do
          =render 'loading'
      - else
        = render 'dre_graph', current_bank_account: @current_bank_account, bank_accounts: Current.account.bank_accounts, cost_center: Current.account.cost_centers do
          =render 'loading'
