= turbo_frame_tag "drawer" do
  = tag.div data: { controller: "turbo-drawer", action: "turbo:submit-end->turbo-drawer#submitEnd keyup@window->turbo-drawer#closeWithKeyboard mousedown@window->turbo-drawer#closeBackground" }, class: "relative z-30" do
    = tag.div class: "pointer-events-none fixed inset-y-0 right-0 flex max-w-md sm:max-w-full sm:pl-10" do
      = tag.div class: "pointer-events-auto w-screen max-w-md transition ease-in-out duration-100 transform", "data-turbo-drawer-target": "drawer", "data-transition-enter-start": "translate-x-full", "data-transition-enter-end": "translate-x-0", "data-transition-leave-start": "translate-x-0", "data-transition-leave-end": "translate-x-full"  do
        = tag.div class: 'flex h-full flex-col bg-white shadow-xl overflow-auto' do
          = tag.div class: 'py-6 px-4 sm:px-6 sticky top-0 bg-white z-30' do
            = tag.div class: 'flex items-start justify-between' do
              = tag.div class: 'text-lg font-medium text-gray-900' do
                = @title
              = tag.div class: 'ml-3 flex h-7 items-center' do
                = button_tag data: { action: "turbo-drawer#hideDrawer" }, type: "button",  class: 'btn-circle-solid' do
                  = heroicon 'x-mark', options: { class: 'btn-circle__icon'}
          = tag.div class: 'flex-1 mb-6' do
            = tag.div class: 'px-4 sm:px-6' do
              = content
